.menu-wrapper {
  width: 100vw;
  top: 0 !important;
  margin: 0;
  position: relative;
}

.menu-slide {
  position: absolute;
  height: auto;
  top: 90px;
  margin: 0;
  background: #f0f0f0; /* colore di sfondo neutro */
  padding: 4vw;
}

.menu-image {
  width: auto;
  height: auto;
  display: block;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5) !important;
}

.menu-wrapper .swiper-pagination {
  display: block;
  position: absolute;
  top: calc(131.87vw + 90px + 6vw);
  height: fit-content;
}

.swiper-pagination-bullet {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: bold !important;
  font-size: 16px !important;
  opacity: 0.5 !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 50% !important;
  transition: 0.2s !important;
}

.swiper-pagination-bullet-active {
  background: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  transform: scale(1.2) !important;
  color: #f0f0f0 !important;
  opacity: 1 !important;
}