@media (max-width: 499px) {
  .hero-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/piadina-hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 2;
  }

  .swiper-container {
    height: 100vh;
  }

  .swiper-slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    touch-action: pan-y;
  }

  .hero-content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .hero-title {
    font-weight: bold;
    font-size: 2.6em;
    line-height: 1.25em;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    color: white;
  }

  .homepage-content {
    height: 200vh;
    padding: 110px 5vw 5vw 5vw;
    text-align: justify;
    z-index: 2;
  }
}

.fade-in-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-button-wrapper {
  position: absolute;
  left: 50%;
  bottom: 25%;
}

.pulse-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f39200;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: pulse 1.5s ease-in-out infinite;
  box-shadow: 0 0 0 rgba(30, 144, 255, 0.7);
  transition: opacity 0.5s ease, scale 0.5s ease, transform 0.3s ease;
  font-size: 1.5rem;
  /* dimensione dell'icona */
}

@keyframes pulse {

  0%,
  100% {
    transform: translateX(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(243, 146, 0, 0.7);
  }

  50% {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 0 0 10px rgba(30, 144, 255, 0);
  }
}